body{
    border: 0;
    margin: 0;
    text-align: left;
  
}
#topo{
    background-color: rgb(226, 226, 226);
    height: 5ch;
    width: 100%;
     
    text-align: center;
    align-content: center;
}
#tp1{
   width: 50%;
   text-align: left;
}
#tp2{
    width: 50%;
    text-align: right;
}
#lingua{
    align-content: center;
    text-align: start;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    list-style: none;
    position:absolute;
    right: 26.1%;
    top: 60.5px;
    width: 6.5%;
    height: 8ch;
    transition: 0.4s;
    opacity: 0%;
}
#lingua li:hover{
    background-color: rgb(44, 44, 44);
}
#english:hover #lingua{
   opacity: 100%;
   top: 30.5px;
}

#main{
     
    display: grid;
    grid-template-columns: 2.0fr 4.5fr  2.0fr;
    grid-template-rows: 80px 60px; 
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 2ch;
} 

#logo{
    align-items: left;
    margin-top: 1ch;
}
 
#nav{
    font: bold;
    display: flex;
    justify-content: space-around;
    text-align: center;
     
    margin-top: 5%;
    align-content: center;
}
#menu{
     
    text-align: center;
    align-content: center;
}
#menu i{
    margin-right: 5%;
    text-align: center;
}
#nmenu{
    position: absolute;
    left: 71.2%;
}
#nmenu1{
    position: absolute;
    left: 69.6%;
}
#alldepartament{
    height: 7ch;
    background-color: rgb(119, 173, 38);
    color: rgb(255, 255, 255);
    align-content: center;
    grid-row: 2;
    grid-column: 1;
     
    
}
#alldepartament:active #alldep{
    opacity: 100%;
}
#busca{
    align-content: center;
    border: solid;  
    grid-row: 2;
    grid-column: 2;
}
#numero{
    text-align: center;
    align-content: center;
      
    grid-row: 2;
    grid-column: 3; 
}
#alldep{
    z-index: 99;
    list-style: none;
    font-size: 120%;
    grid-row: 3;
    grid-column: 1;
     
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    opacity: 0;
    transition: 0.5s;
}
#alldep li{
    margin-left: 15%;
    margin-top: 1.5ch;
}
.navbt{
    font-size: 125%;
    justify-content: space-around;
    transition: .1s;
}
.navbt:hover{
   color: rgb(119, 173, 38);
}
#linguagem{
    position: absolute;
    display: flex;
    left: 60%;
    top: 5ch;
    height: 60px;
    width: 80px;
    background-color: rgb(68, 63, 63);
}

#oganishop{ 
    height: 20ch;
    grid-template-columns: 20ch;
    grid-template-rows: 100%; 
     
    text-align: center;
    align-content: center;
}
#percent button{
    border: 0;
    position: absolute;
}
#dep{
    margin-left: 20%;
}
#dep li{
    font-size: 110%;
    list-style: none;
    margin-top: 2ch;
}
#sizes t{
    color: rgb(99, 99, 99);
    font-size: 70%;
}
#sizes{
    font-size: 20%;
    align-content: center;
    height: 4ch;
    width: 10ch;
    text-align: center;
    background-color: rgb(224, 224, 224);
}
#like{
    margin-top: 100%;
    text-align: center;
    margin-left: 1ch;
    opacity: 0%;
    transition: 0.4s;
    border: 0;
}
#like:hover{
    background-color: rgb(119, 173, 38);
    rotate: 360deg;
    color: rgb(255, 255, 255);
    opacity: 100%;
}
#prod:hover #like{
    margin-top: 75%;
    opacity: 100%;
}       
#saleoff{
        margin-left: 5%;
        display: grid;
        text-align: center;
        margin-right: 27%;
        grid-template-columns: 2.5fr 2.5fr 2.5fr;
        grid-template-rows: 1fr 0.65fr 0.35fr 1fr 0.35fr 1fr 0.35fr 1fr 0.35fr 1fr 0.35fr 0.25fr;
        margin-top: 8ch;
}
#mores button{
    transition: 0.3s;
    background-color: rgb(255, 255, 255); 
    color: rgb(99, 99, 99);
}
#mores button:hover{
    background-color: rgb(119, 173, 38); 
    color: rgb(255, 255, 255);
}
#subend div{
    width: 45%;
     
}
#icn i{
    margin-left: 1.25ch;
    transition: 0.3s;
}
#icn i:hover{
    color:  rgb(119, 173, 38);
}
#ending{
    margin-top: 10ch;
    display: flex;
    justify-content: space-around;
     
    background-color:aliceblue;
}
#ending div{
    margin-top: 10ch;
    width: 30%;
    height: 30ch;
     
}
#end1 li{
    margin-top: 1ch;
    list-style: none;
    font-size: 120%;
}
#end2{
   display: grid; 
}
#end2 li{
    list-style: none; 
    margin-top: 1ch; 
}
#subend{
    background-color:aliceblue;
    border-top: 40%;
    display: flex;
    justify-content: space-around;
}
#subend div{
    width: 45%;
    height: 10ch;
     
}
#fundord{
    border: 0;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
}
#fundord:hover{
    background-color:  rgb(119, 173, 38);
    color: rgb(255, 255, 255);
}